# Data Preprocessing:

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data

                                                    text  emotion
0                                i didnt feel humiliated  sadness
1      i can go from feeling so hopeless to so damned...  sadness
2       im grabbing a minute to post i feel greedy wrong    anger
3      i am ever feeling nostalgic about the fireplac...     love
4                                   i am feeling grouchy    anger
...                                                  ...      ...
21454               Melissa stared at her friend in dism     fear
21455  Successive state elections have seen the gover...     fear
21456               Vincent was irritated but not dismay     fear
21457  Kendall-Hume turned back to face the dismayed ...     fear
21458                    I am dismayed , but not surpris     fear

[21459 rows x 2 columns]

Before removing the null data

In [5]:
data.shape

(21459, 2)

After removing the null data

In [6]:
df = data.dropna()

In [7]:
df.shape

(21459, 2)

In [8]:
df.isnull().sum()

text       0
emotion    0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21459 entries, 0 to 21458
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   text     21459 non-null  object
 1   emotion  21459 non-null  object
dtypes: object(2)
memory usage: 335.4+ KB

In [10]:
df.columns

Index(['text', 'emotion'], dtype='object')

In [11]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
21454    False
21455    False
21456    False
21457    False
21458    False
Length: 21459, dtype: bool

In [12]:
df.duplicated().sum()

3

In [13]:
df.text.unique()

array(['i didnt feel humiliated',
       'i can go from feeling so hopeless to so damned hopeful just from being around someone who cares and is awake',
       'im grabbing a minute to post i feel greedy wrong', ...,
       'Vincent was irritated but not dismay',
       'Kendall-Hume turned back to face the dismayed coup',
       'I am dismayed , but not surpris'], dtype=object)

In [14]:
df.emotion.unique()

array(['sadness', 'anger', 'love', 'surprise', 'fear', 'happy'],
      dtype=object)

In [15]:
df.emotion.value_counts()

happy       7029
sadness     6265
anger       2993
fear        2652
love        1641
surprise     879
Name: emotion, dtype: int64

In [16]:
df.columns

Index(['text', 'emotion'], dtype='object')

Before LabelEncoder

In [17]:
df.head()

                                                text  emotion
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

After LabelEncoder

In [18]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['text']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(int)

In [19]:
df.head()

    text  emotion
0   4468  sadness
1   3531  sadness
2  20257    anger
3   2072     love
4   2254    anger